@import url("../css/clear_css.css");

body {
	background: #181818;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.header {
	font-size: 22px;
	grid-area: header;
	padding: 15px;
	background: #B78B99;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	align-items: center;
	color: #fff;
}

.logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	grid-column: 2 / 3;
}

.header__menu {
	grid-column: 3 / 4;
}

.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
	margin: 0 0 0 30px;
}

@media (max-width:920px) {
	.header__list {
		display: none;
	}

	.header__burger {
		width: 30px;
		display: grid;
		align-items: center;
		grid-template-rows: repeat(3, 8px) / 1fr;
	}

	.header__burger::before {
		content: '';
		height: 2px;
		width: 30px;
		background: #fff;
	}

	.header__burger::after {
		content: '';
		height: 2px;
		width: 30px;
		background: #fff;
	}

	.header__burger span {
		height: 2px;
		width: 30px;
		background: #fff;
	}

	.header__menu {
		display: grid;
		justify-content: end;
	}
}

.header__burger {}

.main {
	padding: 30px 15px;
}


.sidebar {
	text-align: center;
	background: #D72C5F;
	padding: 30px 15px;
	margin: 0 0 30px 0;
}

.sidebar__menu {}

.sidebar__link li {
	margin: 0 0 15px 0;
}

.sidebar__link {
	color: #fff;
	font-size: 24px;
}

.content {}

.content__title {
	font-size: 44px;
	text-align: center;
	text-decoration: underline;
}

.content__gallery {}

.gallery {}

.gallery__title::after {
	content: '👇';
	padding: 0 0 0 10px;
}

.gallery__title {
	margin: 20px 0;
	font-size: 22px;
	text-align: center;
}

.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width:992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}

	.sidebar {
		grid-column: 2/3;
		margin: 0;
	}

	.content {
		grid-column: 3/4;
		padding: 0 0 0 30px;

	}
}

.gallery__item {
	position: relative;
	padding: 0 0 85% 0;
}

.gallery__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.gallery__item-big {
	grid-column: span 2;
	grid-row: span 2;
}

@media(max-width:767px) {
	.gallery__item-big {
		grid-column: span 2;
		grid-row: span 2;
	}
}

.content__products {}

.products {
	text-align: center;
}

.products__title {
	margin: 0 0 20px 0;
	font-size: 44px;
	padding: 150px 0 20px 0;
	text-align: center;
	text-decoration: underline;
}

.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.product__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}

.products__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.products__image {
	position: relative;
	padding: 0 0 90% 0;
	margin: 0 0 20px 0;
}

.products__name {
	display: contents;
	color: #fff;
	font-size: 24px;
	line-height: 30px;
}

.products__button {
	position: relative;
	margin: 15px auto 0;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #052E7F;
	justify-self: start;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	padding: 0 20px;
}

.footer {
	display: grid;
	grid-area: footer;
	padding: 15px;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px);
	background-color: #73A3E2;
	align-items: center;
}

.footer__copy {}

.footer__text {}

@media(min-width:550px) {
	.footer__copy {
		grid-column: 2/3;
	}

	.footer__text {
		text-align: end;
		grid-column: 3/ 4;
	}
}

@media(max-width:550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		text-align: center;
	}

	.footer__copy {
		order: 2;
	}

	.footer__text {
		order: 1;
	}

}