body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* intro */
.intro {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("../img/images/MoGo_bk_01.jpg") center no-repeat;
	background-size: cover;
}

.header__logo--active {
	position: relative;
	display: block;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

.intro__inner {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.intro__title::after {
	content: '';
	display: block;
	width: 60px;
	height: 4px;
	background-color: #fff;
	margin: 60px auto 50px;
}

.intro__suptitle {
	color: #fff;
	font-size: 72px;
	font-weight: 400;
	font-family: 'Kaushan Script', cursive;
	margin: 0 0 50px 0;
}

.intro__title {
	font-size: 150px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	line-height: 1;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0 0 0;
	text-align: center;
}

.header__logo {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.nav {
	text-transform: uppercase;
	font-size: 14px;
}

.nav__link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	transition: all 200ms linear 0s;
}

.nav__link::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: all 200ms linear 0s;
	border-radius: 2px;
}

.nav__link:hover::after {
	color: #fce38a;
	height: 4px;
	box-shadow: 2px 2px 4px #5b5232
}

.nav__link:hover {
	color: #fce38a;

}

.nav__link:hover::after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #fce38a;
}


.nav__link:not(:last-child) {
	margin: 0 55px 0 0;
}

.nav__link:hover::after {
	display: block;
	color: #fce38a;
	opacity: 1;
}

.nav__link--active {
	padding: 5px;
}

.nav__link--active:not(:last-child) {
	margin: 0 50px 0 0;
}

/* button */

.button {
	display: inline-block;
	vertical-align: top;
	border: 3px solid #fff;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	transition: all .2s ease 0s
}

.button:hover {
	background-color: #fff;
	color: #EFD389;
	padding: 13px 33px;
	font-size: 16px;
}

/* slider */

.slider {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	opacity: .7;
	width: 23%;
	padding: 20px 0;
	border-top: 3px solid #fff;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
}

.slider__item.active::before {
	content: '';
	display: block;
	width: 70px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: -3px 0 0 0;
}


.slider__item.active {
	opacity: 1;
}

.item__numbrs {
	font-size: 24px;
	font-weight: 700;
}

/* section */

.section__header {
	text-align: center;
	padding: 100px 0 0;
	margin: 0 auto 50px;
}

.section--gray {
	background-color: #f8f8f8;
}

.section__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: 400;
	color: #333;
}

.section__title {
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	font-size: 30px;
	display: block;
}

.section__title::after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	display: block;

	margin: 40px auto 40px;

}

.section__text {
	font-size: 15px;
	color: #999999;
}

/* about */

.card {
	display: flex;
	justify-content: space-between;
	padding: 0 0 80px;
	margin: 80px 0 0;
}

.card__item {
	width: 380px;
	background-color: #95e1d3;
	position: relative;
}

.card__item:hover .card__image {
	transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__image img {
	opacity: 0.1;
}

.card__item:hover .card__text {
	opacity: 1;
}

.card__image {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform 200ms ease;
}

.card__image img {
	display: block;
	transition: opacity 200ms ease;
}

.card__text {
	width: 95%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	opacity: 0;
	top: 50%;
	left: 0;
	z-index: 2;
	position: absolute;
	transform: translate(0, -50%, 0);
	transition: opacity 200ms ease;
}

.card__icon {
	display: block;
	position: absolute;
	left: 45%;
	top: -25px;
}

/* info */

.information {
	background-color: #95e1d3;
}

.info {
	display: flex;
}

.info__item {
	flex: 1 1 0;
	border-left: 1px solid #b5eae0;
	color: #fff;
	text-align: center;
	padding: 60px 0 80px;
}

.info__item:last-child {
	border-right: 1px solid #b5eae0;
}

.info__number {
	font-size: 72px;
	font-weight: bold;
	margin: 0 0 -10px;
}

.info__subtitle {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;

}

/* services */

.servises {
	display: flex;
}

.services__item {
	flex: 1 1 0;
	position: relative;
	padding: 0 35px 0 95px;
}

.services__icon {
	position: absolute;
	top: 0;
	left: 30px;
}

.services__title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.services__item:last-child {
	padding: 0 0 0 95px;
}

.services__text {
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}

hr {
	height: 1px;
	width: 100%;
	display: block;
	border: none;
	background-color: #e5e5e5;
	margin: 50px 0;
}

/* devices */

.devices {
	margin: 0 auto;
	width: 100%;
	max-width: 590px;
	position: relative;
}

.section--devices {
	margin-bottom: 40px;
	padding-bottom: 0;
	background: url('../img/images/bg2.jpg') center no-repeat;
	background-size: cover;
}

.devices__item {
	margin: 0 0 -7px;
	display: block;
}

.devices--active {
	position: absolute;
	bottom: -85px;
	right: -95px;
}

/* about us */

.aboutus {}

.aboutus__item {
	display: flex;
	flex-direction: row;
}

.aboutus__item-img {
	height: 328px;
}

.accordion {}

.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	margin-left: 10px;
}


.accordion__header {
	position: relative;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.accordion__header:after {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(135deg);
	right: 20px;
	z-index: 1;
}

.accordion__icon {
	position: absolute;
	left: 15px;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
}

.accordion__title {
	padding: 15px 0 15px 15px;
	margin: 0 0 0 60px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #333333;

}

.accordion__text {
	display: none;
	margin: 15px 15px;
	color: #999999;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
}

.accordion__item.active .accordion__text {
	display: block;
}

.accordion__item.active .accordion__header {
	border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
	transform: translateY(-50%) rotate(-45deg);
	margin-top: 5px;
}

/* reviews */

.reviews {
	padding: 190px 110px;
	position: relative;
}

.reviews__item {
	padding-left: 205px;
	position: relative;
}

.reviews__icon {
	border: 3px solid #95e1d3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 45px;
}

.reviews__text {
	margin: 0 0 15px 0;
	font-style: italic;
	font-size: 24px;
	color: #999999;
}

.reviews__author {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;

}

.reviews__author::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 4px;
	margin: 0px 10px 0 0;

	background-color: #f38181;
}

.reviews__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	display: block;
	font-size: 0;
	color: transparent;
}

.reviews__button::after {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;

	transform: rotate(135deg);
}

.section--prey {
	left: 0;
	transform: rotate(180deg);
}

.section--next {
	right: 0;
	transform: rotate(360deg);
}

/* social */

.social {}

.social__item {
	padding: 18px 15px 15px 18px;
	text-decoration: none;
	background-color: #fce38a;
	color: #f38181;
}

.social__item:not(:last-child) {
	border-right: 1px solid #f38181;
}

.social__item:first-child {
	background-color: #f38181;
	color: #fff;
}

.fa-brands {
	font-size: 24px;
}